#gitignore file :D

#ignore .vidual studio 
*.sdf
*.opensdf
*.suo

#ignore all .o and .a files
*.[oa]

#ignore all image files
*.tiff
*.jpg
*.bmp

#ignore data files
*.lst
*.xml

#ignore debug and release folder
x64/
Debug/
LSS/x64/
LSS/Debug/
LSS/Release/
Classification/Debug/
Classification/Release/
Train/Debug/
Train/Release/
